@import "variables";
@import "mixins";

.excel__table{
  position: absolute;
  top: $formula-height + $toolbar-height + $header-height;
  left: 0;
  right:0;
  overflow-x: auto;
  padding-bottom: 2px;
  .row{
    display: flex;
    flex-direction: row;
    min-height: 20px;
    height: $row-height;
    .row-info{
      position: relative;
     display: flex;
      align-items: center;
      justify-content: center;
      min-width: $info-cell-width;
      height: 100%;
      border: 1px solid $border-colors;
      border-top: 0;
      background-color: $column-bg-color;
    }
  }
  .row-data{
    display: flex;
  }
  .column{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $column-bg-color;
    min-width: 40px;
    width: $cell-width;
    height:100%;
    border: 1px solid $border-colors;
    border-top: 0;
    border-left: 0;
  }
  .col-resize, .row-resize{
    position: absolute;
    bottom: 0;
    background-color: blue;
    opacity: 0;
    width: 4px;
    &:hover{
      opacity: 1;
      background-color: blue;
    }
  }
  .col-resize{
    right: 0;
    width: 4px;
    top: 0;
    &:hover{
      cursor: col-resize;
    }
  }
  .row-resize{
    left: 0;
    height: 4px;
    width: 39px;
    &:hover{
      cursor: row-resize;
    }
  }
.cell{
  min-width: 40px;
  padding: 5px;
  width: $cell-width;
  height:100%;
  border: 1px solid #e2e3e3;
  border-top: 0;
  border-left: 0;
  color: black;
  outline: none;
  white-space: nowrap;
}
  .selected{
    border: none;
    outline: 2px solid #3c74ff;
    z-index: 2;
  }
}