@import "variables";
@import "mixins";

.excel__toolbar{
  position: absolute;
  top: $header-height;
  height: $toolbar-height;
  border-top: 1px solid $border-colors;
  border-bottom: 1px solid $border-colors;
  padding:7px 10px;
  display: flex;
  justify-content: center;
  gap:40px;
  left:0;
  right:0;
  .btn{
    @include buttons();
  }
}